{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Estimate a Line of the Bus Stop</title>
    <meta name="description" content="">
    <meta name="author" content="ogiogi93">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dc.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

    <style>
        #dc-num-table{
            width : 100px;
            height: 100px;
            color: white;
            font-size: 40px;
            text-align: center;
            top: 10%;
            right: 0;
	        bottom: 0;
	        left: 35%;
	        margin: auto;
            position: relative;
        }
        #dc-time-table{
            font-size:14px;
        }
        p{
            color: white;
        }
        h5{
            color:white;
        }
        #dc-com-table{
            color: black;
            font-size: 22px;
        }
        #dc-com-mobile{
            color: black;
            font-size: 21px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">SFC-Research</a>

    </div>

    <div class="collapse navbar-collapse" id="nav-menu-1">

      <ul class="nav navbar-nav">

        <li class="active"><a href="#main">バス行列推定</a></li>
        <li><a href="#timetable">バス時刻表</a></li>


      </ul>

    </div>
  </div>
</nav>

<section class="bg" id="main">
    <div class="bg-color">
        <div class="container content">
            <div class="row">
                <div class="sun clearfix">
                    <div class="col-sm-12">
                        <br>
                        <h2 class="hidden-xs">バス行列リアルタイム推定システム</h2>
                        <h3>バス停（慶応大学バス停前）に設置されているWi-Fiセンサーを用いて、現在の行列人数を推定しています<br>(10秒間隔で更新されます)</h3>
                    </div>
                    <div id="left-block" class="col-sm-6 text-center">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-6">
                                <h3>慶應大学前バス停行列人数</h3>
                                <h5>推定人数/席数</h5>
                                <div id='dc-num-table'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 hidden-xs">
                                <img class="img-responsive" src="/static/images/bus.png" width="200" height="200" alt="tab" align="bottom" id="bus_pic"/>
                            </div>
                            <div class="col-sm-2 hidden-xs">
                                <div class="balloon-wrapper">
                                    <p class="balloon-left" id="dc-com-table"></p>
                                </div>
                            </div>
                            <div class="col-xs-9 visible-xs">
                                <div class="balloon-wrapper">
                                    <p class="balloon-right" id="dc-com-mobile"></p>
                                </div>
                            </div>
                            <div class="col-xs-3 visible-xs">
                                <img class="img-responsive" src="/static/images/bus.png" width="120" height="120" alt="tab" align="bottom"  id="bus_pic"/>
                            </div>
                        </div>
                    </div>

                    <div id="right-block" class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-8">
                                <p> ぜひ本システムに関する簡単なアンケートにご協力して頂けると幸いです。下のアイコンをクリックして頂けると、アンケートページへ移動します。</p>
                                <p class="followus"></p>
                                <ul class="social-icon">
                                    <li><a href="https://docs.google.com/forms/d/1WE2-Rsx1gGYMAGjp-pI3HSCS8pNm72vCS6OVk_ZWzPA/viewform"><i class="fa fa-comments"></i><h5>アンケートページ</h5></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-8">
                                <!--
                                    <h3><div id="dc-dest-name"></div></h3>
                                    <div class="timing">
                                        <div id="count-down"></div>
                                        <div id="dc-dep-table"></div>
                                    </div> -->
                                <br><br>
                                <p>本システムは個人情報等は一切収集していなく、Mac Addressは暗号化して記録しています。<br>ご質問やご相談等については、下記のアドレスへ<br>お問い合せ下さい</p>
                                <p>慶應義塾大学　政策・メディア研究科修士2年<br>　荻原　崇</p>
                                <p>ogiogi93@sfc.keio.ac.jp</p>
                                <!-- /.timing -->
                            </div>
                        </div>
                        <!---
                        <div id="row">
                            <div id="dc-range-chart"></div>
                        </div>
                        --->
                    </div>
                </div>
            </div>
        </div>
        <!-- .container end here -->
    </div>
</section>
<section id="timetable">
    <div class="container">
        <div class='row'>
            <div class='col-sm-12'>
                <br>
                <h2 style="color: black;">バス時刻表</h2>
                <table class='table table-hover dc-data-table' id='dc-time-table'>
                    <thead>
                    <tr class='header'>
                        <th>出発時刻</th>
                        <th>目的地</th>
                        <th>バスタイプ</th>
                        <th>席数</th>
                        <th>乗車人数</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.js' %}"></script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/crossfilter.js' %}"></script>
<script src="{% static 'js/dc.js' %}"></script>
<script>
    function resetData(ndx, dimensions) {
        /* var commentFilters = comment.filters();
        var numPeopleFilters = num_people.filters(); */
        dimensions.forEach(function (dim) {
            dim.filter(null);
        });
        ndx.remove();
        /* comment.filter([commentFilters]);
        num_people.filter([numPeopleFilters]); */
    }

    function render_plots(){
        comment
                .width(400)
                .height(400)
                .dimension(dimTime)
                .group(function () {
                    return "";
                })
                .size(2)
                .columns([
                    function (d) {
                        if (d.count != null){
                            if (d.comment == 1) {
                                return '湘南台駅行きバスは空いています。席に座れる可能性が高いです！';
                            }
                            else if (d.comment == 2){
                                return '湘南台行きバスは少し混んでいます。席に座れない可能性が高いです。。';
                            }
                            else {
                                return '湘南台駅行きバスは現在非常に混んでいます><' + ('<br>') + '少し時間をずらすことをオススメします';
                            }
                        }
                    }
                ])
                .sortBy(function (d) {
                    return d.dep_time2;
                })
                .order(d3.ascending);

        comment_mobile
                .width(400)
                .height(400)
                .dimension(dimTime)
                .group(function () {
                    return "";
                })
                .size(2)
                .columns([
                    function (d) {
                        if (d.count != null){
                            if (d.comment == 1) {
                                return '湘南台駅行きバスは空いています。席に座れる可能性が高いです！';
                            }
                            else if (d.comment == 2){
                                return '湘南台行きバスは少し混んでいます。席に座れない可能性が高いです。。';
                            }
                            else {
                                return '湘南台駅行きバスは現在非常に混んでいます><' + ('<br>') + '少し時間をずらすことをオススメします';
                            }
                        }
                    }
                ])
                .sortBy(function (d) {
                    return d.dep_time2;
                })
                .order(d3.ascending);
        num_people
                .width(100)
                .height(100)
                .dimension(dimTime)
                .group(function () {
                    return "";
                })
                .size(2)
                .columns([
                    function (d) {
                        console.log(d);
                        if (d.count != null){
                            return d.count + ('/') + d.seat_num;
                        }
                    }
                ])
                .sortBy(function (d) {
                    return d.dep_time2;
                })
                .order(d3.ascending);

        /*
        dep_time
                .width(400)
                .height(400)
                .dimension(dimTime)
                .group(function () {
                    return "";
                })
                .size(1)
                .columns([
                    function (d) {
                        dateObj = '2016-07-02' + ' ' + d.dep_time;
                        return ('<div id="count-down" data-date="') + ' + dateObj + ' + ('"></div>');
                        return ''
                    }
                ])
                .sortBy(function (d) {
                    return d.dep_time2;
                })
                .order(d3.ascending);

         */

        dest_name
                .width(400)
                .height(400)
                .dimension(dimTime)
                .group(function () {
                    return "";
                })
                .size(1)
                .columns([
                    function (d) {
                        if (d.dest == 'shonandai') {
                            return ('次の') + '湘南台' + ('駅行きバスの発車時間まで');
                        }
                        else {
                            return ('次の') + '辻堂' + ('行きバスの発車時間まで');
                        }
                    }
                ])
                .sortBy(function (d) {
                    return d.dep_time2;
                })
                .order(d3.ascending);

        time_table
                .width(100)
                .height(100)
                .dimension(dimTime)
                .group(function () {
                    return "";
                })
                .size(12)
                .columns([
                    function (d) {
                        return d.dep_time;
                    },
                    function (d) {
                        if (d.dest == 'shonandai') {
                            return '湘南台駅';
                        }
                        else {
                            return '辻堂駅';
                        }
                    },
                    function (d) {
                        if (d.type == 'Bus') {
                            return 'バス';
                        }
                        else if (d.type == 'detour') {
                            return '笹久保経由';
                        }
                        else if (d.type == 'spceial') {
                            return '臨時便';
                        }
                        else {
                            return 'TwinLiner';
                        }
                    },
                    function (d) {
                        return d.seat_num;
                    },
                    function (d) {
                        return d.max_num;
                    }
                ])
                .sortBy(function (d) {
                    return d.dep_time2;
                })
                .order(d3.ascending);

        /*
        select_station
                .width(300).height(150)
                .elasticX(true)
                .controlsUseVisibility(true)
                .dimension(dimStation)
                .group(grpStation);


         range_chart
         .width(500)
         .height(30)
         .dimension(dimTime)
         .margins({top: 0, right: 50, bottom: 20, left: -1})
         .group(grpTime)
         .x(d3.time.scale().domain([minTime, maxTime]));
         */
        console.log('Rendering');

        dc.renderAll();

    }

    var ndx,ndxTime, dimTime, grpTime, grpStation;
    var comment = dc.dataTable("#dc-com-table"),
            comment_mobile = dc.dataTable("#dc-com-mobile"),
            num_people = dc.dataTable("#dc-num-table"),
            time_table = dc.dataTable("#dc-time-table"),
            dest_name = dc.dataTable("#dc-dest-name");
    /*
    var select_station = dc.rowChart("#dc-select-station"),
            range_chart = dc.lineChart("#dc-range-chart"),
            dep_time = dc.dataTable("#dc-dep-table");     */
    var parseDateTime = d3.time.format("%Y-%m-%d %H:%M:%S").parse;
    var parseTime = d3.time.format("%H:%M:%S").parse;

    /* Get result from DB */
    d3.json("{% url 'get_count' %}", function(error, data) {
        console.log('First Loading');
        data.forEach(function (d) {
            d.dep_time2 = parseTime(d.dep_time);
        });

        /* run data through crossfilter */
        ndx = crossfilter(data);

        /* Set dimension */
        dimTime = ndx.dimension(function (d) {
            return d.dep_time2;
        });

        /* Set Group */
        grpTime = dimTime.group().reduceSum(function (d) {
            return d.count;
        });

        render_plots();

    });


    // REFRESH RESULT DATA AFTER 10 SECONDS
    setInterval(function() {
        console.log("data reset");
        resetData(ndx, [dimTime]);
        d3.json("{% url 'get_count' %}", function(error, data) {
            data.forEach(function (d) {
                d.dep_time2 = parseTime(d.dep_time);
            });
            ndx.add(data);

            dc.redrawAll();
        });
        console.log('refreshed');
    }, 10000);

</script>
</body>
</html>
